/* Principal */
.main {
  margin-left: 260px;
  padding: 20px;
  padding-top: 80px;
}

.generalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textoRosa {
  color: #c084fc;
}

.productos-container {
  max-height: 300px;
  overflow-y: auto; 
  overflow-x: hidden; 
  margin-bottom: 20px;
  padding-left: 40px;
  width: 100%;
  
}

.productos-scroll {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 10px; 
}

.producto-btn {
  width: 120px;
  height: 140px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-shadow-boton {
  background-color: #32363B;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.tablaCuerpo {
  border-collapse: collapse;
  width: 100%;
  background-color: #32363b;
  text-align: center;
}

.tablaCuerpo th, .tablaCuerpo td {
  padding: 10px;
  text-align: left;
}

.tablaAtributos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoAtributosTabla {
  flex-basis: 20%;
  text-align: center;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 20px;
}

.tablaListado {
  overflow-y: auto;
  max-height: 200px;
  border-bottom-left-radius: 10px;
}

.box-shadow {
  background-color: #272b30;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.btn-primary {
  border-color: #c084fc;
}

/* Select para seleccionar proveedor*/
.form-select {
  width: 220px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #c084fc;
  background-color: #495057;
  color: white;
  padding: 5px;
  margin-left: 45px;
  margin-top: 35px;
}

.box-shadow-atributos-listado{
  padding-left: 40px;
  padding-right: 40px;
}

/* Tabla */
.tablaListado{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

/* Input de la cantidad */ 
.cantidad-input {
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #c084fc;
  background-color: #495057;
  color: white;
  text-align: center;
}

/* Texto listado*/
.text-lista {
  color: #c084fc;
  padding-left: 40px;
}

/* Desabilitar select  */
.form-select:disabled {
  background-color: #343a40;
  cursor: not-allowed;
  opacity: 0.7;
}

.aaa {
  margin-right: 55px;
  margin-top: 35px;
}