
<main class="main-content">

  <div class="generalContent">

    <input class="buscaNombre" type="search" placeholder="Search" aria-label="Search">
    <button class="botonCarrito" type="submit">Search</button>

    <div class="ordenBotones">

      <button class="botonCarrito" type="submit">Imagen A</button>
      <button class="botonCarrito" type="submit">Imagen B</button>
      <button class="botonCarrito" type="submit">Imagen C</button>
      <button class="botonCarrito" type="submit">Imagen D</button>
      <button class="botonCarrito" type="submit">Imagen E</button>
      <button class="botonCarrito" type="submit">Imagen F</button>

    </div>
  </div>

</main>

