
<main class="main">

  <div>
    <h1 class="textoRosa">
      Carrito de Pedidos
    </h1>
  </div>

  <div class="generalContent">

    <div class="ordenBotones">

      <div class="container bg-transparent h-100 d-flex align-items-center justify-content-center col-md-offset-2 mx-auto">

        <div class="row">
          <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
            <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
              <i class="bi bi-cart h1"></i>
            </button>
          </div>

          <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
            <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
              <i class="bi bi-calendar-date h1"></i>
            </button>
          </div>

          <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
            <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
              <i class="bi bi-shop-window h1"></i>
            </button>
          </div>

          <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
            <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
              <i class="bi bi-credit-card h1"></i>
            </button>
          </div>

          <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
            <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
              <i class="bi bi-sliders2 h1"></i>
            </button>
          </div>

          <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
            <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
              <i class="bi bi-gear h1"></i>
            </button>
          </div>

          <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
            <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
              <i class="bi bi-receipt h1"></i>
            </button>
          </div>
        </div>

      </div>


    </div>


    <div>
      <tr class="tablaCuerpo">
        <td [width]="150">Producto</td>
        <td [width]="150">Cantidad</td>
        <td [width]="150">Descuento</td>
        <td [width]="150">Impuesto</td>
        <td [width]="150">Precio Unitario</td>
        <td [width]="150">Precio Total</td>
      </tr>
    </div>

    <!-- Tabla del carrito -->
    <div class="tablaListado">
      <tbody class="tablaCuerpo">
          <table>

            <tr *ngFor="let producto of productos">
              <td [width]="150">{{ producto.nombre }}</td>
              <td [width]="150">{{ producto.cantidad }}</td>
              <td [width]="150">{{ producto.descuento * 100 }}%</td>
              <td [width]="150">{{ producto.impuesto * 100 }}%</td>
              <td [width]="150">{{ producto.precio_unitario | currency: 'EUR' }}</td>
              <td [width]="150">{{ producto.precio_total | currency: 'EUR' }}</td>
            </tr>
          </table>
      </tbody>

    </div>
  </div>

</main>

