<main class="main">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="textoRosa">Carrito de Pedidos</h1>
    <button class="btn btn-primary" onclick="history.back()">Volver</button>
  </div>

  <div class="generalContent box-shadow">
    <div class="mb-4">
      <select class="form-select" [class.hidden]="ocultarSelector" (change)="onProveedorChange($event)">
        <option value="">Seleccione un proveedor</option>
        <option *ngFor="let proveedor of proveedores | async" [value]="proveedor.idProveedor">
          {{ proveedor.nombre }}
        </option>
      </select>
      <div class="d-flex align-items-center" [class.hidden]="ocultarProveedor">
        <h2 class="textoRosa m-4">{{ proveedorSeleccionado }}</h2>
        <button class="btn btn-primary h-50" (click)="cambiarProveedor()">Cambiar</button>
      </div>
    </div>

    <div class="productos-container">
      <div class="productos-scroll">
        <div *ngFor="let producto of productosProveedor | async">
          <button type="button" class="btn producto-btn box-shadow-boton btn-primary"
                  (click)="agregarAlCarrito(producto)">
            <img [src]="WEB_URL + '/images/producto/' + producto.idProducto + '.webp'" height="40px" class="mb-2">
            <div>{{ producto.nombreProd }}</div>
          </button>
        </div>
      </div>
    </div>

    <h1 class="text-lista">Listado Productos</h1>
    <div class="box-shadow-atributos-listado mt-4">
      <table class="tablaCuerpo">

        <tr class="tablaCuerpo tablaAtributos">
          <td class="textoAtributosTabla">Producto</td>
          <td class="textoAtributosTabla">Cantidad</td>
          <td class="textoAtributosTabla">Descuento</td>
          <td class="textoAtributosTabla">Impuesto</td>
          <td class="textoAtributosTabla">Precio Unitario</td>
          <td class="textoAtributosTabla">Precio Total</td>
          <td class="textoAtributosTabla">Eliminar</td>
        </tr>

      </table>
    </div>

    <div class="tablaListado box-shadow-listado">
      <table class="tablaCuerpo">
        <tbody>
          <tr *ngFor="let producto of carrito">
            <td [width]="150">{{ producto.nombreProd }}</td>
            <td [width]="150">
              <input type="number" min="1" [value]="producto.cantidad"
                     (input)="actualizarCantidad(producto, $event)"
                     class="cantidad-input"/>
            </td>
            <td [width]="150">{{ producto.descuento }}%</td>
            <td [width]="150">{{ producto.impuesto }}%</td>
            <td [width]="150">{{ producto.precio | currency: 'EUR' }}</td>
            <td [width]="150">{{ producto.precio_total | currency: 'EUR' }}</td>
            <td [width]="150">
              <button class="btn btn-danger" (click)="eliminarDelCarrito(producto)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col d-flex justify-content-end align-content-end m-3">
        <button class="btn btn-primary">Tramitar Pedido</button>
    </div>
  </div>
</main>
