<div class="container-sm shadow my-5 p-2">
  <!-- Detalles del Pedido -->
  <div class="row">
    <div class="row justify-content-around">
      <div class="col">
        <h1><b>Pedido Nº</b> 12345</h1>
      </div>

      <div class="col d-flex flex-row justify-content-end gap-2">
        <button class="boton boton-verde">Recibido</button>
        <button class="boton boton-rojo">Rechazado</button>
      </div>
    </div>
    <div class="row">
      <img src="https://i.pinimg.com/736x/51/ff/8e/51ff8ed5a7124ce1b01ed6e4a4a5c686.jpg" alt="Proveedor" width="150px"
           height="150px" class="img-proveedor">
      <div class="col">
        <h4 class="texto-terciario">Empresa:</h4>
        <h3 class="texto-secundario">Panesitos S.L.</h3>
      </div>
      <div class="col"></div>
    </div>

  </div>

  <!-- Listado de productos -->
  <div class="row"></div>
</div>
