<<<<<<< HEAD
.img-proveedor {
  width: 150px !important;
  height: 150px !important;
  padding: 0 !important;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.row {
  outline: 1px solid red;
}

.col {
  outline: 2px solid green;
=======
.main {
  margin-left: 260px;
  padding: 20px;
  padding-top: 80px;
}

.box-shadow {
  background-color: #343638;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* InformacioÌn del pedido */

.image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%; 
}

.info-left, .info-right {
  color: white;
}

.info-left {
  flex: 1;
}

.info-right {
  flex: 1;
}

.ml-3 {
  margin-left: 15px;
}

h1, h3 {
  color: #c084fc;
}

/* Estado */
.estado {
  padding: 5px;
  border-radius: 5px;
}

/* Tabla */
.table-body-scroll {
  overflow-y: auto;
  max-height: 200px;
  margin-top: 20px;
}

hr {
  border: 1px solid #c084fc;
}

.btn-primary {
  border-color: #c084fc;
>>>>>>> c9b78cdc99046caddc616d438d4e5190223cbd46
}
