<main class="main">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Pedido Nº - #{{ pedido?.idPedido }}</h1>
    <button class="btn btn-primary" onclick="history.back()">Volver</button>
  </div>

  <div class="bg-dark p-4 rounded box-shadow">
    <div class="pedido-info d-flex align-items-center mb-4">

      <div class="image-container">
        <img src="patricio_putero.png" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
      </div>

      <div class="info-left ml-3">
        <p><strong>Proveedor:</strong> {{ pedido?.proveedor?.nombre }}</p>
        <p><strong>Correo:</strong> {{ pedido?.proveedor?.correo }}</p>
        <p><strong>Teléfono:</strong> {{ pedido?.proveedor?.telefono }}</p>
      </div>

      <div class="info-right ml-3">
        <p class="estado">
          <strong>Estado:</strong> {{ pedido?.estado }}
          <button class="bg-success ml-3" (click)="entregarPedido(pedido?.idPedido)">Entregado</button>
          <button class="bg-danger ml-3" (click)="cancelarPedido(pedido?.idPedido)">Cancelar</button>
        </p>
        <p><strong>Fecha del Pedido:</strong> {{ pedido?.fechaPedido | date }}</p>
      </div>
    </div>

    <hr class="text-white">

    <h3>Productos en este Pedido:</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th >Producto</th>
            <th >Cantidad</th>
            <th >Precio Unitario (€)</th>
            <th >Precio Total (€)</th>
            <th >Descuento (%)</th>
            <th >Impuesto (%)</th>
          </tr>
        </thead>
        </table>

        <div class="table-body-scroll">
          <table class="table table-dark table-hover">
          <tbody>
            <tr *ngFor="let producto of pedido?.detalles">
              <td >{{ producto.nombreProducto }}</td>
              <td >{{ producto.cantidad }}</td>
              <td >{{ producto.precioUnitario | currency: 'EUR' }}</td>
              <td >{{ producto.precioCantidad | currency: 'EUR' }}</td>
              <td >{{ producto.descuento }}%</td>
              <td >{{ producto.impuesto }}%</td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
</main>
