.main {
  margin-left: 260px;
  padding: 20px;
  padding-top: 80px;
}

.box-shadow {
  background-color: #343638;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.table-body-scroll {
  overflow-y: auto;
  max-height: 400px;
}

.btn-primary {
  border-color: #c084fc;
}

.table thead th {
  text-align: center;
  width: 15%;
}

.table tbody td {

  text-align: center;
  width: 10%;
}

.texto {
  color: #c084fc;
}