
  <main class="main-content">
    
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>Listado de Pedidos</h1>
      <button class="btn btn-rose">Agregar Pedido</button>
    </div>

    <div class="bg-dark p-4 rounded shadow-box" style="height: 760px; ">
      <div class="table-responsive">
        <table class="table table-dark table-hover">
          <thead class="thead-fixed">
            <tr>
              <th></th>
              <th>Proveedor</th>
              <th>Fecha Pedido</th>
              <th>Precio</th>
              <th>Estado</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          
        </table>
        <div class="tbody-scroll" style="height: 645px;">
          <table class="table table-dark table-hover">
            <tbody >
              <tr *ngFor="let pedido of pedidos">
                <td>{{ pedido.id_pedido }}</td>
                <td>{{ pedido.id_proveedor }}</td>
                <td>{{ pedido.fecha_pedido }}</td>
                <td>{{ pedido.precio_total }}</td>
                <td>{{ pedido.estado }}</td>
                <td>
                  <button class="btn btn-primary mx-2">Editar</button>
                  <button class="btn btn-primary mx-2">Detalles</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </main>
