
<body>

  <button class="buttonLogin" (click)="logout()">Logout</button>


  <div class="container vh-100 align-items-center justify-content-center p-5">

    <div class="row bg-primary shadow-lg h-75 d-flex align-items-center justify-content-center ms-5">
      <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
        <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
          <img src="shopping-cart.png" height="50px">
        </button>
      </div>
  
      <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
        <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
          <img src="table.png" height="50px">
        </button>
      </div>
  
      <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
        <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
          <img src="building-store.png" height="50px">
        </button>
      </div>
  
      <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
        <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
          <img src="credit-card.png" height="50px">
        </button>
      </div>
  
      <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
        <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
          <img src="device-desktop-cog.png" height="50px">
        </button>
      </div>

      <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
        <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
          <img src="settings.png" height="50px">
        </button>
      </div>

      <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
        <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
          <img src="receipt.png" height="50px">
        </button>
      </div>

      <div class="col-sm-4 col-xs-6 card border bg-transparent d-flex justify-content-center" style="width: 18rem;  height: 13rem; --bs-border-opacity: .0;">
        <button type="button" class="w-100 h-100 btn btn-primary btn-lg">
          <img src="plus.png" height="50px">
        </button>
      </div>

      

      

      
    </div>


    


  



    


    

  </div>
    
</body>




