<main class="main">

  <div class="generalContent box-shadow">
    <div class="ordenBotones">
        <div class="row">

          <div class="botonEstilo">
            <button type="button" class="botonOpcion btn box-shadow-boton btn-primary btn-lg" onclick="window.location.href = 'listado-pedidos';">
              <img src="shopping-cart.png" height="120px" width="120px" style="margin: 0 auto;">
              <label class="textoRosa">Listado de Pedidos</label>
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion btn box-shadow-boton btn-primary btn-lg" onclick="window.location.href = 'construccion';">
              <img src="table.png"  height="120px" width="120px" style="margin: 0 auto;">
              <label class="textoRosa">Almacen</label>
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion btn box-shadow-boton btn-primary btn-lg" onclick="window.location.href = 'construccion';">
              <img src="credit-card.png" height="120px" width="120px" style="margin: 0 auto;">
              <label class="textoRosa">Historial</label>
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion btn box-shadow-boton btn-primary btn-lg" onclick="window.location.href = 'construccion';">
              <img src="building-store.png" height="120px" width="120px" style="margin: 0 auto;">
              <label class="textoRosa">Tienda</label>
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion btn box-shadow-boton btn-primary btn-lg" onclick="window.location.href = 'construccion';">
              <img src="device-desktop-cog.png" height="120px" width="120px" style="margin: 0 auto;">
              <label class="textoRosa">Detalles</label>
            </button>
          </div>

          <div class="botonEstilo" >
            <button type="button" class="botonOpcion btn box-shadow-boton btn-primary btn-lg" onclick="window.location.href = 'construccion';">
              <img src="receipt.png" height="120px" width="120px" style="margin: 0 auto;">
              <label class="textoRosa">Proveedores</label>
            </button>
          </div>

          <div class="botonEstilo" >
            <button type="button" class="botonOpcion btn box-shadow-boton btn-primary btn-lg" onclick="window.location.href = 'construccion';">
              <img src="settings.png" height="120px" width="120px" style="margin: 0 auto;">
              <label class="textoRosa">Configuracion</label>
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion btn box-shadow-boton btn-primary btn-lg" onclick="window.location.href = 'construccion';">
              <img src="plus.png" height="120px" width="120px" style="margin: 0 auto;">
              <label class="textoRosa">Ayuda</label>
            </button>
          </div>

        </div>
      </div>
  </div>

</main>

