

.main {
  margin-left: 260px;
  padding: 20px;
  padding-top: 80px;
}



/* Caja que contiene los datos de la pagina */
.generalContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*Colores de texto*/
.textoRosa{
  color: #c084fc;
  font-size: 30px;
}

/*Botones*/
.ordenBotones{
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 1600px;
  margin-left: 120px;
}

.botonOpcion{
  width: 320px;  height: 320px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border:none;*/
}

.box-shadow-boton {
  background-color: #32363B;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.botonEstilo{
  width: 350px;  height: 350px; --bs-border-opacity: .0;
}


/*Modificaciones de Boostrap*/

.row{
  align-items: center;
}


.box-shadow {
  background-color: #272b30;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


.btn-primary {
  border-color: #c084fc;
}


