<main class="main">


  <div class="generalContent box-shadow">

    <div class="ordenBotones">

      <div class="botonEspacio">

        <div class="row">
          <div class="botonEstilo">
            <button type="button" class="botonOpcion w-75 h-75 btn box-shadow-boton btn-primary btn-lg">
              <img src="shopping-cart.png" height="50px">
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion w-75 h-75 btn box-shadow-boton btn-primary btn-lg">
              <img src="table.png" height="50px">
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion w-75 h-75 btn box-shadow-boton btn-primary btn-lg">
              <img src="building-store.png" height="50px">
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion w-75 h-75 btn box-shadow-boton btn-primary btn-lg">
              <img src="credit-card.png" height="50px">
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion w-75 h-75 btn box-shadow-boton btn-primary btn-lg">
              <img src="device-desktop-cog.png" height="50px">
            </button>
          </div>

          <div class="botonEstilo" >
            <button type="button" class="botonOpcion w-75 h-75 btn box-shadow-boton btn-primary btn-lg">
              <img src="settings.png" height="50px">
            </button>
          </div>

          <div class="botonEstilo" >
            <button type="button" class="botonOpcion w-75 h-75 btn box-shadow-boton btn-primary btn-lg">
              <img src="receipt.png" height="50px">
            </button>
          </div>

          <div class="botonEstilo">
            <button type="button" class="botonOpcion w-75 h-75 btn box-shadow-boton btn-primary btn-lg">
              <img src="plus.png" height="50px">
            </button>
          </div>



        </div>

      </div>


    </div>
  </div>

</main>

