<div class="container-fluid vh-100 bg-dark text-white" *ngIf="isLogged()">

    <div class="navbar-container">
      <nav class="navbar py-1 px-3 d-flex align-items-center justify-content-between w-100 fixed-top">
        <div class="d-flex align-items-center">
          <h6 class="text-rose fw-bold mb-0">
            <i>Welcome, {{ loggedInUser?.name || 'User' }} </i>
          </h6>
        </div>
  
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
  
        <div class="d-flex align-items-center">
  
          <button class="btn custom-btn settings-btn mx-2">
            <img src="settings.png" alt="Settings" class="icon-img">
          </button>
  
          <button class="btn custom-btn notifications-btn mx-2">
            <img src="bell.png" alt="Notifications" class="icon-img">
          </button>
  
          <button type="button" class="btn custom-btn user-btn mx-2" placement="bottom" ngbPopover="Holaaaa" popoverTitle="Popover on bottom">
            <img src="patricio_putero.png" alt="User" class="rounded-circle user-img">
          </button>

          <button
	type="button"
	class="btn btn-outline-secondary me-2"
	placement="bottom"
	ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
	popoverTitle="Popover on bottom"
>
	Popover on bottom
</button>
        </div>
      </nav>
    </div>
  
    <div class="sidebar">
      <ul class="sidebar-list">
        <li class="sidebar-item"><a href="#">Home</a></li>
        <li class="sidebar-item"><a href="listado-pedidos">Listado de Pedidos</a></li>
        <li class="sidebar-item"><a href="construccion">Almacen</a></li>
        <li class="sidebar-item"><a href="construccion">Historial</a></li>
        <li class="sidebar-item"><a href="construccion">Gatitos</a></li>
      </ul>
    </div>
  
  
  
  
  <router-outlet></router-outlet>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  