body{
  background-color: #2f2f2f;
}


h1{
  text-align: center;
}




tr{
  margin: 5px;
  padding: 10px;
  background-color: #999999;
  box-shadow: 5px 5px 5px #000000;
}

td{
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
}









