body{
  background-color: #2f2f2f;
}


h1{
  text-align: center;
}

h2 {
  font-weight: bold;
}




tr{
  margin: 5px;
  padding: 10px;
  background-color: #999999;
  box-shadow: 5px 5px 5px #000000;
}

td{
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
}

#image-color {
  background-color: #a07c94;
}

.custom-image {
  position: relative;
  left: -80px; /* Mueve la imagen más a la izquierda */
  transform: rotate(-5deg); /* Le da un pequeño giro */
  border-radius: 15px; /* Bordes redondeados */
  
}

#login-field {
  background-color: #262a30;
}









