<div class="container-fluid vh-100 bg-dark text-white">

  <div class="navbar-container">
    <nav class="navbar py-1 px-3 d-flex align-items-center justify-content-between w-100 fixed-top">
      <div class="d-flex align-items-center">
        <h6 class="text-rose fw-bold mb-0">
          <i>Welcome, {{ loggedInUser?.name || 'User' }} </i>
        </h6>
      </div>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="d-flex align-items-center">

        <button class="btn custom-btn settings-btn mx-2">
          <img src="settings.png" alt="Settings" class="icon-img">
        </button>

        <button class="btn custom-btn notifications-btn mx-2">
          <img src="bell.png" alt="Notifications" class="icon-img">
        </button>

        <button class="btn custom-btn user-btn mx-2">
          <img src="patricio_putero.png" alt="User" class="rounded-circle user-img">
        </button>
      </div>
    </nav>
  </div>

  <div class="sidebar">
    <ul class="sidebar-list">
      <li class="sidebar-item"><a href="#">Home</a></li>
      <li class="sidebar-item"><a href="#">Listado de Pedidos</a></li>
      <li class="sidebar-item"><a href="#">Almacen</a></li>
      <li class="sidebar-item"><a href="#">Profile</a></li>
      <li class="sidebar-item"><a href="#">Messages</a></li>
    </ul>
  </div>

  <main class="main-content">

    <div class="d-flex flex-column align-items-center justify-content-center vh-100 gap-3">
      <h3>En Construcción...</h3>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzhgLF9Pt5oq2fk-6y7pmDzDCmMvyjYYDbbw&s" height="300px" width="300px"/>
    </div>

  </main>

</div>
